@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

.container {
    width: 100%;
    padding: 10px 200px 50px 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.container .underline {
    text-decoration: underline;
}

.container .comment {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 2px;
}

.container button {
    font-family: "Nerko One", sans-serif;
}

.container div {
    margin-bottom: 30px;
}