@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

.center {
    text-align: center;
    padding: 1px;
} 

.addReminder {
    font-size: 15px;
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.addReminder:hover{
    background-color: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    padding: 1px;
}

.container ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.container button {
    font-family: "Nerko One", sans-serif;
}

.container article {
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-size: cover;
    box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

.container article header {
    margin-bottom: 14px;
}

.container article h2 {
    margin: 0;
    font-size: 15px;
    overflow: visible;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: clip;
    -webkit-box-orient: vertical;
}

.container article p {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    line-height: 1.5rem;
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 3;
    word-break: keep-all;
    text-align-last: left;
    -webkit-box-orient: vertical;
}